<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Add a New Show</h3>
    <a href="/shows">Go Back</a>
    {% if messages %}
    <ul>
        {% for message in messages %}
	   <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <form action="/shows/process" method="post">
        {% csrf_token %}
        <p>Title <input name="s_tit" type="text"></p>
        <p>Network <input name="s_net" type="text"></p>
        <p>Release Date<input name="s_rel" type="date"></p>
        <p>Description <input name="s_des" type="text"></p>
        <button type="submit">Create</button>
    </form>
</body>
</html>